@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import 'tailwindcss';


@theme {
  --font-bricolage-grotesque: "Bricolage Grotesque", sans-serif;
  --color-bg-color: #02012B;
  --color-widget-color: #25253F;
  --color-widget-color-hover: #302F4A;
  --color-button-color: #4657D9;
  --color-dd-h3: #ACACB7;
  --color-divider: #3C3B5E;
}

/* <weight>: Use a value from 100 to 1000 */

.bricolage-grotesque-w {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}