@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* <weight>: Use a value from 100 to 1000 */

.bricolage-grotesque-weather {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@theme {
  --color-bg-color: #02012B;
  --color-widget-color: #25253F;
  --color-button-color: #4657D9;
}